{cover_enabled, true}.
{deps,[
	{yamler, ".*", {git, "https://github.com/goertzenator/yamler.git", "HEAD"}},
	{procket, ".*", {git, "https://github.com/msantos/procket.git", "HEAD"}},
	{pkt, ".*", {git, "https://github.com/msantos/pkt.git", "HEAD"}}
  ]}.
{sub_dirs, ["rel"]}.
{erl_opts, [{i, "include"}]}.
